.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 60px 0 40px;
}

.pagination li {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;

  font-weight: 600;
}

/* Кнопки-стрелки (тёмные) */
.arrow {
  background-color: #311f09;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

/* Номера страниц (светлые) */
.number {
  background-color: rgba(255, 138, 0, 0.1); /* светло-оранжевый/бежевый */
  color: var(--primary);
  cursor: pointer;
}

/* Многоточие */
.dots {
  background: none;
  color: #b7a28b;
  cursor: default;
  width: auto;
  padding: 0 8px;
}
