@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-poppins: 'Poppins', system-ui, -apple-system, sans-serif;
  --font-raleway: 'Raleway', system-ui, -apple-system, sans-serif;
  --font-tinos: 'Tinos', system-ui, -apple-system, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
